@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --clr-blue: hsl(246, 80%, 60%);
    --clr-light-red-work: hsl(15, 100%, 70%);
    --clr-light-red-study: hsl(348, 100%, 68%);
    --clr-soft-blue-play: hsl(195, 74%, 62%);
    --clr-lime-green-exercise: hsl(145, 58%, 55%);
    --clr-violet-social: hsl(264, 64%, 52%);
    --clr-soft-orange-self-care: hsl(43, 84%, 65%);
    --clr-very-dark-blue: hsl(226, 43%, 10%);
    --clr-dark-blue: hsl(235, 46%, 20%);
    --clr-desaturated-blue: hsl(235, 45%, 61%);
    --clr-pale-blue: hsl(236, 100%, 87%);
    --clr-white: #ffffff;
    --ff: 'Rubik', sans-serif;
    --transition: all 0.3s linear;
}

html {
    scroll-behavior: smooth;
}

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 18px;
    font-family: var(--ff);
    background-color: var(--clr-very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--clr-white);
    margin: 16vw 8vw;
}

h2 {
    font-weight: 300;
    margin: 0vw;
    font-size: 1.2em;
}

span {
    font-weight: 300;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark-blue);
    border-radius: 4vw;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: var(--clr-blue);
    border-radius: 4vw;
    padding: 8vw;
}

.profile span {
    font-size: 0.9em;
    color: var(--clr-pale-blue);
}

.pfp {
    margin: 0vw 4vw 0vw 0vw;
}

.pfp img {
    width: 16vw;
    height: 16vw;
    border: 1vw solid var(--clr-white);
    border-radius: 50%;
}

.timeframes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timeframe {
    width: 28vw;
    padding:6vw 0vw;
    border: none;
    font-family: var(--ff);
    font-weight: 400;
    font-size: 1em;
    color: var(--clr-desaturated-blue);
    background-color: inherit;
    cursor: pointer;
    transition: var(--transition);
}

.timeframe:hover {
    color: var(--clr-white)
}

.active {
    color: var(--clr-white);
}

.section {
    display: flex;
    flex-direction: column;
    border-radius: 4vw 4vw 6vw 6vw;
    margin: 8vw 0vw 0vw 0vw;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 58vw -4vw;
    background-origin: padding-box;
}

.work {
    background-image: url(images/icon-work.svg);
    background-color: var(--clr-light-red-work);
}

.play {
    background-image: url(images/icon-play.svg);
    background-color: var(--clr-soft-blue-play);
}

.study {
    background-image: url(images/icon-study.svg);
    background-color: var(--clr-light-red-study);
}

.exercise {
    background-image: url(images/icon-exercise.svg);
    background-color: var(--clr-lime-green-exercise);
}

.social {
    background-image: url(images/icon-social.svg);
    background-color: var(--clr-violet-social);
}

.self-care {
    background-image: url(images/icon-self-care.svg);
    background-color: var(--clr-soft-orange-self-care);
}

.section-container {
    background-color: var(--clr-dark-blue);
    margin: 10vw 0vw 0vw 0vw;
    border-radius: 4vw;
    padding: 6vw;
    cursor: pointer;
    transition: var(--transition);
} 

.section-container:hover {
    background-color: hsl(235, 46%, 25%);
}

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-header span {
    font-weight: 400;
}

.ellipses-icon {
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: var(--transition);
} 

.ellipses-icon:hover {
    filter: brightness(0) invert(1);
}

.section-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw 0vw 0vw 0vw;
    align-items: center;
}

.present {
    opacity: 0.9;
}

.present-time {
    font-size: 1.6em;
}

.past-time {
    font-size: 0.8em;
    color: var(--clr-pale-blue);
    font-weight: 300;
}